/*Couleurs
Gris primaire: #607d8b;
Gris Light:#8eacbb;
Gris Dark:#34515e;

Rose primaire:; #ef6191;
Rose light: #ff93c1;
Rose dark: #b92c64;
*/

/*à voir comment mettre en place les couleurs en fontion des pictos et de certains textes
.Gprimaire{color:#607d8b;}

.Rprimaire{color:#ef6191;}
*/



/*Style*/
body{
	word-wrap: break-word;
	font-family:'Roboto','Sans-serif';
	font-size:14px;
}



h3{
	text-transform: uppercase;
	font-size:20px;
}

.picto{
	margin:10px;
	padding:10px;
}

i{
	padding:10px;
	margin:10px;
}

footer{
	text-align:center;
	background-color: #34515e;
	color:#ffffff;
}
/*colonne de gauche*/
aside{
	width:30%;
	background-color:#ef6191;
}

.titre{
	background-color:#34515e;
	color:#ffffff;
	text-align:center;
	padding:5px 0 5px 0;
}

a{
	color:#34515e;
}

/*Colonne de droite*/
#contenu{
	width:70%;
}

#dev{
	text-decoration:underline;
	text-decoration-color: #ef6191;
}

h1,h2{
	padding:15px;
	height:40px;
	}

h1{
	text-transform:uppercase;
	font-size:50px;
}

h2{
	font-weight:bold;
	font-size:30px;
}

#emilie{
	color: #ef6191;
}

/* NPT : bordure rose sous les titres*/
.droite{
	border-bottom:solid 1px #ef6191;
}

.detail{
	font-style:'Montserrat';
	font-size:12px;
}

/*flexbox*/
div{
	padding:15px;
	display:flex;
}

#contenu{
	display:block;
	text-align:justify;
}

#reco1, #reco2{
	width:50%;
	justify-content:row;
	align-content:space-between;
}


/*media queries*/