/*Couleurs
Gris primaire: #607d8b;
Gris Light:#8eacbb;
Gris Dark:#34515e;

Rose primaire:; #ef6191;
Rose light: #ff93c1;
Rose dark: #b92c64;
*/


/********************************CONTENU PRINCIPAL***********************************/
html {
	font-size: 100%;
}

body {
	width: 100%;
	margin: auto;
	border: solid 1px #34515e;
	font-family: 'Roboto','Sans-serif';
	font-size: 16px;
	line-height: 2em;
	list-style-type: none;
}
/*Titre Emilie*/
h1 {
	font-size: 3em;
}

/*Titre développeuse*/
h2 {
	font-weight: bold;
	font-size: 2.3em;
}

/*Majuscules sur les h1, h3 et noms d'entreprises*/
h1, h3, .upper {
	text-transform: uppercase;	
}	

/*Titres : Contact, A propos, loisirs, Formation, Expérience et Recommandations*/
h3 {
	font-size: 1.6em;
}

/********Contenant pour les deux parties**************/
/*Entête avec Nom, Prénom, Poste et photo*/
header {
	display: flex;
}

/*Police de caractères des listes*/
ul, li {
	font-family: 'Montserrat';
	font-size: 1.1em;
}

.upper, .intitule {
	font-weight: bold;
}

/*********************HEADER********************/
/*Photo du CV*/
#photo {
	width: 30%;
	padding:0.6em;
	background-color: #ef6191;
	text-align: center;	
}

/*Modifications sur l'entête du CV*/
#dev {
	text-decoration: underline #ef6191;
	text-underline-position: under;
}
/*Emilie en rose*/
#emilie {
	color: #ef6191;
}

/**********FORMATION---------EXPERIENCE------RECOMMANDATIONS**********/
/*Div contenant les deux colonnes*/
#container {
	display: flex;
	flex-direction: row-reverse;
}

/*div pour contenus en colonnes*/
 #contenu, #presentation {
	width: 70%;
	padding:0 1.8em;
}

/* bordure rose sous les titres*/
.droite {
	border-bottom: solid 1px #ef6191;
}

/*************pictos roses*****************/
.fa-pencil-alt, .fa-graduation-cap, .fa-briefcase, .fa-dot-circle, .fa-circle {
	color: #ef6191;
	margin: 0.6em 0.6em 0.6em 0;
}

/*picto devant parties formation, expérience et recommandations*/
.fa-pencil-alt, .fa-graduation-cap, .fa-briefcase {
	padding-right: 1.3em;
}

/*picto devant chaque date*/
.fa-dot-circle, .fa-circle {
	font-size: 0.8em;
}

/*******Alignements des dates et contenus expérience et formation*******/
.experience, .formation {
	display: flex;
}

/*Précisions de dates et lieu de travail ou formation*/
.date {
	width: 20%;
	margin-right: 1.25em;
}

/*Contenu qualitatif en expérience et formation*/
.detail {
	width: 80%;
	word-wrap: break-word;
	padding-bottom: 1.8em;
}

/*recommandations en 2 colonnes*/
#reco {
	display: flex;
	margin-right: 3em;
	justify-content: space-between;
	width: 75%;
}


/***************************************ASIDE*****************************************/
/*Paramètres principaux*/
aside {
	width: 30%;
	background-color: #ef6191;
	display: flex;
	flex-direction: column;
	justify-content:space-around;
}

/*Blancs tournant dans la colonne rose*/
aside li {
	padding: 0 1.875em;
}

/*titres sur fond gris*/
.titre {
	background-color: #34515e;
	color: #ffffff;
	text-align: center;
	padding: 0.7em 0;
}

/*tous les liens en gris*/
a {
	color: #34515e;
}

/*pictos loisirs*/
.fa-hiking, .fa-camera-retro, .fa-plane-departure {
	color: #34515e;
	font-size: 1.25em;
	padding: 0.6em;
	margin: 0.6em;
	border-radius: 50%;
	border: solid 1px #34515e;
}

#loisirs {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

/*********************************MEDIA QUERIES******************************/
@media screen and (min-width: 320px) and (max-width: 1024px) 
{
	body {
		font-size: 75%;
	}

	h2{
		padding-bottom: 1em;
		font-weight: normal;
	}

	h1, h2, #photo {
		text-align: center;
	}

	header, #photo, #presentation {
		background-color: #607d8b;
	}

	#container, #contenu, #reco, #presentation, #photo, header, aside, .formation, .experience, .date {
		width: 100%;
		display: block;
	}

	.recommandation {
		padding-bottom: 1.8em;
	}

	#container, body {
		background-color: #eee;
	}

	#loisirs {
		margin-bottom: 0px;
	}
}