/*Couleurs
Gris primaire: #607d8b;
Gris Light:#8eacbb;
Gris Dark:#34515e;

Rose primaire:; #ef6191;
Rose light: #ff93c1;
Rose dark: #b92c64;
*/


/********************************CONTENU PRINCIPAL***********************************/
/*Style*/
body {
	width: 1000px;
	margin: auto;
	border: solid 1px #34515e;
	font-family: 'Roboto','Sans-serif';
	font-size: 14px;
	list-style: none;
}

/*Flexbox globale*/
#container {
	display: flex;
	flex-direction: row-reverse;
}

header {
	display: flex;
	width: 100%;
	flex-direction: row;
	align-content: flex-end;
}

#photo {
	width: 30%;
	padding:10px;
	background-color: #ef6191;
	text-align: center;	
}

#presentation {
	width: 70%;
}

h1, h3, .upper {
	text-transform: uppercase;	
}	

h3 {
	font-size: 20px;
	margin: 30px 0 30px 0;
}

#contenu {
	width: 70%;
	padding: 30px;
}

/*Effets de police*/
ul, li {
	font-family: 'Montserrat';
}

/*Modifications sur l'entête du CV*/
#dev {
	text-decoration: underline;
	text-decoration-color: #ef6191;
}

h1,h2 {
	padding: 15px;
	height: 50px;
}

h1 {
	font-size: 50px;
}

h2 {
	font-weight: bold;
	font-size: 30px;
}

/* bordure rose sous les titres*/
.droite {
	border-bottom: solid 1px #ef6191;
	margin-right: 20px;
}

/*pictos roses*/
.fa-pencil-alt, .fa-graduation-cap, .fa-briefcase, .fa-dot-circle, .fa-circle, #emilie {
	color: #ef6191;
	margin: 10px 10px 10px 0;
}

.fa-pencil-alt, .fa-graduation-cap, .fa-briefcase {
	padding-right: 15px;
}

.fa-dot-circle, .fa-circle {
	font-size: 10px;
}

/*Alignements des dates et contenus expérience et formation*/
.experience, .formation {
	display: flex;
	padding-right: 20px;
}

.date {
	width: 20%;
	margin-right: 20px;
}

.detail {
	width: 80%;
	word-wrap: break-word;
}

/*recommandations en 2 colonnes*/
#reco {
	display: flex;
	margin-right: 40px;
	justify-content: space-around;
	width: 75%;
}


/***************************************ASIDE*****************************************/
aside {
	width: 30%;
	background-color: #ef6191;
	display: flex;
	flex-direction: column;
	justify-content:space-around;
}

aside li {
	padding: 0px 30px 0px 30px;
}


/*titres sur fond gris*/
.titre {
	background-color: #34515e;
	color: #ffffff;
	text-align: center;
	padding: 10px 0 10px 0;
	margin-top: 100px;
}

/*tous les liens en gris*/
a {
	color: #34515e;
}

/*pictos loisirs*/
.fa-hiking, .fa-camera-retro, .fa-plane-departure {
	color: #34515e;
	font-size: 20px;
	padding: 10px;
	margin: 10px;
	border-radius: 50%;
	border: solid 1px #34515e;
}

#loisirs {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

/*********************************MEDIA QUERIES******************************/
@media screen and (min-width: 260px) and (max-width: 1080px) 
{

	body {
		max-width: 100%
	}

	#container, #contenu, #reco, #presentation, #photo, header, aside {
		width: auto;
		display: block;
	}

	.recommandation {
		padding-bottom: 60px;
	}

	h3, ul, li, p {
		height: auto;
		font-size: 14px;
	}

	h1, h2, #photo {
		text-align: center;
	}


	h1 {
		font-size:40px;
	}
	
	h2{
		font-size: 20px;
	}

	#photo {
		background-color: #fff;
		clear: both;
	}

}

